<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="content.css">
</head>
<body>
    <header>

      <nav class="navbar">
        <div class="container-fluid d-flex justify-content-center text-center">
          <a href="/" class="navbar-brand justify-content-center" >
            <img src="https://i0.wp.com/www.pilgrimafrica.org/wp-content/uploads/2020/12/kisspng-vector-graphics-book-stock-illustration-logo-research-vector-book-transparent-amp-png-clipart-5cce8c440022e9.3914588515570401960006.png?ssl=1" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"><br>
            Your Diary
          </a>
        </div>
      </nav>

    </header>
    <main>
