<%- include("partials/header.ejs") %>

<div class="container-fluid welcome">
  <div class="row row-welcome">
    <div
      class="col d-flex flex-column justify-content-center align-items-center text-center"
    >
      <div class="container welcome-text">
        <h1>Welcome to your diary</h1>
        <p>
          The one place where you can see how much you have grown from your past
          and ponder about you future. <br> Whatever you need to get of your chest.
          this is the place.
        </p>
        
        <a href="#">
            <button type="button" class="btn btn-outline-light mt-5"><strong>Add post <br>to diary</strong></button>
        </a>

        
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
