<%- include("partials/header.ejs") %>

<div class="container-fluid welcome">
  <div class="row row-welcome">
    <div
      class="col d-flex flex-column justify-content-center align-items-center text-center"
    >
      <div class="container welcome-text">
        <h1>See your diary</h1>
        <p>
          Here it is
        </p>
        
        <a href="/">
            <button type="button" class="btn btn-outline-light mt-5"><strong>Add post <br>to diary</strong></button>
        </a>

        
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>