.navbar{
    background-color: #FF10F0;
    font-weight: bold;
}
.nav-background-colour{
    background-color: #F4C8C5;
}
.welcome{

    height: 85vh;
}


footer ul li{
    list-style: none;
    padding: 5px;
}

footer ul li a{
    display: inline-block;
}

footer ul li a img{
    width: 50px;
    height: 50px;
}

footer ul li a img .facebook, footer ul li a img .instagram{
    width: 20px;
    height: 20px;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #FF10F0;
}